

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    {{ form_start(form) }}
        {{ form_widget(form) }}
         <div class="h-1/6 flex w-full justify-between items-end px-4 mt-4">
        <button class="btn w-48 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 ml-2 rounded-md">{{ buhtton_label|default('enregistrer') }}</button>
        <a href="{{ path('app_voyage_index') }}"><button  class="  w-auto bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Retour</button></a>
</div>
    {{ form_end(form) }}
   </div>
  </div>
</div>
</div>