{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h2 class="text-xl font-bold text-center m-4">Réservation</h2>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Message_reservation</th>
                <td>{{ reservation.messageReservation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}"><button  class="  w-auto bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md">Retour</button></a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}"><button class="btn w-20 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 ml-2 rounded-md m-2">editer</button></a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
